.ws {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
}

.ws-title {
  font-size: 20px;
  border-radius: 5px;
  border: 4px solid #343434;
  padding: 16px;
  text-align: center;
}

.ws-title + .ws-instructions { 
  margin-top: 2px;
}

.ws-instructions {
  border-radius: 5px;
  border: 4px solid #343434;
  flex: 1 0 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;

  h2 {
    align-self: flex-start;
    flex: 1 0 100%;
    font-size: 16px;
    text-align: center;
  }

  ol {
    align-self: flex-start;
    flex: 1 0 100%;
  }

  li {
    font-size: 12px;
    line-height: 16px;
  }

  li + li {
    margin-top: 8px;
  }

  p {
    align-self: flex-end;
    flex: 1 0 100%;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}

.ws-instructions + .ws-join { 
  margin-top: 2px;
}

.ws-join {
  font-size: 16px;
  border-radius: 5px;
  border: 4px solid #343434;
  padding: 16px;

  form {
    display: flex;
  }

  label + .ws-input-wrap {
    margin-left: 8px;
  }

  .ws-input-wrap {
    display: block;
    position: relative;
  }

  input {
    background: transparent;
    border: 1px solid black;
    border: none;
    caret-color: transparent;
    font-size: 16px;
    outline: none;
    padding: 0;
    position: relative;
  }

  .ws-cursor {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &::after {
      content: '\25AC';
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: blink;
      color: #343434;
      font-size: 1.5em;
      left: var(--left);
      position: absolute;
      top: 2px;
      z-index: -1;
    }
  }

  input:not(:focus) + .ws-cursor {
    display: none;
  }

  form + p {
    margin-top: 16px;
  }

  p {
    font-size: 12px;
    text-align: center;
  }
}

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}